body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*Global Class . represent class while # reperesent ID*/
.contain{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*global dark theme*/
.dark{
  background: #35424a;
  color: #ffffff;
  padding: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.quote{

}
ul{
  margin: 0;
  padding: 0;
}

/*Global button style*/
.button_1 {
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-weight: bold;


}
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #1fb8e2 5px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;  /* to remove the underline*/
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}
header #branding{
  margin:0;
}
header nav{
  float: right;
  margin-top: 10px;
}

header .highlight , header .current a{
  color: #1fb8e2;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}
aside#sidebar a:hover{
  color: #cccccc;
  font-weight: bold;
}
footer{
  left: 0;
  bottom: 0;
  width: 100%;
  position :fixed;
  color: #ffffff;
  background-color: #35424a;
  text-align: center;
  border-top: #1fb8e2 5px solid;
}

/*showcase*/


#showcase{
min-height: 400px;
  background:url("../img/showcase.jpg") no-repeat -800px -500px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}
/*Newsletter*/
#newsletter{
  padding:15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
 padding: 5px;
 height:25px;
  width:250px;
}

#boxes{
margin-top: 20px;
}

#boxes .box{
  float:left;
  width: 30%;
padding: 10px;
 text-align: center;
}

#boxes .box img{
  width: 90px;
}
aside#sidebar{
  float: right;
  width: 30%;
  margin-top:10px;
}

aside#sidebar input, aside#sidebar textarea{
  width: 90%;
  padding: 5px;
  margin-bottom: 7px;
}
aside#sidebar #calp{
  margin-bottom: 5px;
}

article#main-col{
  float: left;
  width: 60%;
}
/*Services*/
ul#services li
{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #e6e6e6;

}




/*media query*/

@media(max-width: 768px){

  header #branding,
  header nav,
  header nav li,
  newsletter h1,
  newsletter form,
  #boxes .box,
  article#main-col,
  article#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button , .quote button{
   display: block;
   width: 100%;
  margin-top: 5px;
  }


}
